#Red_Row
{
  background-color: #FF433D;
  text-align: center;
  height: 80px;
}
#btnbgdpos1
{
  height: 100%;
  width: 100%;
}
#btnbgdpos2
{
  height: 100%;
  width: 100%;
}
#Yellow_Row
{
  background-color: #FED636;
  text-align: center;
  height: 80px;
}

.block
{
  margin: 10px;
  height: 45px;
  width: 45px;
  color: #47BF55;
}
