#Red_Row
{
  background-color: red;
  text-align: center;
  height: 80px;
}
#btnbgdpos1
{
  height: 100%;
  width: 100%;
}
#btnbgdpos2
{
  height: 100%;
  width: 100%;
}
#Yellow_Row
{
  background-color: yellow;
  text-align: center;
  height: 80px;
}

.block
{
  margin: 10px;
  color: darkgreen;
  background-color: darkgreen;
}
