#Yellow_Row
{
  background-color: #FED636;
  height: 60px;
  position: relative;
  top: 60px;
}
#Red_Row
{
  background-color: #FF433D;
  height: 60px;
  position: relative;
  top: 75px;
}
#BtnBgdPos1
{
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 10%;
}
#BtnBgdPos2
{
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}
.block
{
  margin: 5px;
  height: 50px;
  width: 50px;
  background-color: #47BF55;
  border-color: #3C8324;
  border-radius: none;
}
#main_buttons
{
  position: relative;
  top: 90px;
}
