body
{
  overflow-x: hidden;
  font-family: "Courier New", monospace;
}

header
{
  text-align: center;
  box-shadow: 0 0 3px #000;
}

header li
{
  display: inline;
  padding: 0;
  margin: 0;
}

header li a
{
  text-align: center;
  text-decoration: none;
  color: #000;
}
